$dark-color: #1a1a1a;
$color-gray: #a0a3a7;
$accent-color: #f26b38;

footer {
  background-color: $dark-color;
  padding: 2rem 0 0 0;
  color: $color-gray;
  text-align: left;

  h3,
  a {
    text-decoration: none;
    color: $color-gray;
    transition: 0.5s all;
  }

  h3 {
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    &.title {
      color: rgba(255, 255, 255, 0.7);
      position: relative;
      padding-left: 1rem;
      margin: 0 0 25px 0;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 22px;
        width: 4px;
        background-color: $accent-color;
      }
    }
  }

  a {
    &:hover {
      color: $accent-color;
      transition: 0.5s all;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 0 0 8px;
    }
  }

  i{
    margin-right: 0.5rem;
  }

  .apps {
    i {
      font-size: 2rem;
    }

  }

  .footer-top{
    margin-bottom: 1rem;
  }

  .footer-bottom{
    padding: 1rem 0;
    border-top: $color-gray 1px solid;
  }
}
